* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
    padding: 0;

    &::selection {
        background-color: $mainTextColor;
        color: $whiteColor;
    }
}

a {
    @include transitionDuration ();
}

body,
html {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    @include mainFont ();
}

.container {
    max-width: 1170px;
}

.titleTilda {
    position: relative;
    margin-bottom: 40px;

    &::after {
        content: "˜";
        font-family: 'OCR-A-Extended', Arial, Helvetica, sans-serif;
        font-size: 75px;
        display: block;
        font-weight: 500;
        color: $accentColor;
        position: absolute;
        width: 44px;
        left: calc(50% - 22px);
        top: 60px;
        overflow: hidden;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}