@mixin mainFont ($size: $fontMainSize, $lineHt: 1.5em, $color: $mainTextColor, $fWeight: 300) {
    font-size: $size;
    line-height: $lineHt;
    color: $color;
    font-weight: $fWeight;

    &::selection {
        background-color: $mainTextColor;
        color: $whiteColor;
    }
}

@mixin wrapper () {
    width: 100%;
    background-repeat: no-repeat;
}

@mixin iconsBg ($iconWidtg, $iconHeight, $iconBg, $brgRadius: 50%) {
    width: $iconWidtg;
    height: $iconHeight;
    background: $iconBg;
    border-radius: $brgRadius;
    text-align: center;
}

@mixin transition ($timeTransition: all .3s ease) {
    -webkit-transition: $timeTransition;
    -moz-transition: $timeTransition;
    -o-transition: $timeTransition;
    -ms-transition: $timeTransition;
    transition: $timeTransition;
}

@mixin transitionDuration ($timeTransitionD: .3s) {
    -webkit-transition-duration: $timeTransitionD;
    -o-transition-duration: $timeTransitionD;
    transition-duration: $timeTransitionD;
}