.navbar {
    padding: 0;

    &__brand {
        @include mainFont ($size: 53px, $color: $accentColor, $lineHt: 53px, $fWeight: 600);

        &:hover {
            color: lighten($accentColor, 12);
        }
    }

    .navbar-brand {
        &--acctentLetter {
            color: $whiteColor;
        }

        &--logoTagline {
            display: block;
            @include mainFont ($size: 14px, $color: $whiteColor, $lineHt: 14px, $fWeight: 500);
            text-transform: uppercase;
            letter-spacing: 8.4px;
            text-align: right;
            padding-left: 4px;
        }
    }

    &__link {
        @include mainFont ($size: $fontNuvSize, $color: $whiteColor, $fWeight: 600);
        text-transform: uppercase;
        padding: 0;
        margin-right: 30px;

        &:hover {
            color: $accentColor;
            transition: .2s;
        }

        &--active {
            color: transparentize($whiteColor, $amount: .4)
        }
    }

    &__searchLink {
        color: $whiteColor;
        text-align: right;

        &:hover {
            color: $accentColor;
        }
    }

    &__toggler {
        color: $whiteColor;
        font-size: 30px;
        outline: none !important;
    }
}