$accentColor: #eeb501;
$mainTextColor: #1e0404;
$whiteColor: #fff;
$textColorTwo: #434343;

$textFormColor: #adadad;
$formColorBg: #2e2e2e;

$fontMainSize: 20px;
$fontNuvSize: 20px;
$fontMainTitleSize: 69px;
$fontTitleSize: 43.24px;
$fontTitleSize-3: 29.12px;
$fontFormSize: 20px;
$fontButtonSize: 21.56px;