.navbar {
    padding: 0;

    &__brand {
        @include mainFont ($size: 53px, $color: $accentColor, $lineHt: 53px, $fWeight: 600);

        &:hover {
            color: lighten($accentColor, 12);
        }

        @include _480 {
            font-size: 32px;
            line-height: 34px;
        }
    }

    .navbar-brand {
        &--acctentLetter {
            color: $whiteColor;
        }

        &--logoTagline {
            display: block;
            @include mainFont ($size: 14px, $color: $whiteColor, $lineHt: 14px, $fWeight: 500);
            text-transform: uppercase;
            letter-spacing: 8.4px;
            text-align: right;
            padding-left: 4px;

            @include _480 {
                font-size: 14px;
                letter-spacing: 0;
            }
        }
    }

    &__link {
        @include mainFont ($size: $fontNuvSize, $color: $whiteColor, $fWeight: 600);
        text-transform: uppercase;
        padding: 0;
        margin-right: 30px;

        &:hover {
            color: $accentColor;
            transition: .2s;
        }

        &--active {
            color: transparentize($whiteColor, $amount: .4)
        }
    }

    &__searchLink {
        color: $whiteColor;
        text-align: right;

        &:hover {
            color: $accentColor;
        }
    }

    &__toggler {
        color: $whiteColor;
        font-size: 30px;
        outline: none !important;
    }

    .nav-link {
        @include _979 {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}

.navbar-nav {
    @include _979 {
        display: inline-block;
        width: 100%;
        background: rgba($color: $navMobileBg, $alpha: 0.9);
        border: solid 3px $whiteColor;
        padding: 10px;
        text-align: right;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    @include _1200 {
        padding: 0;
    }
}