.testimonialsWrapper {
    @include wrapper ();
    background: url(../images/bgImgTestimonials.jpg) 0 0/cover no-repeat fixed;
    padding: 100px 0 80px;

    .testimonials {

        &__title {
            @include mainFont ($size: $fontTitleSize, $lineHt: 1em, $color: $whiteColor, $fWeight: 600);
            text-align: center;

            h2 {
                @extend .titleTilda;

                &::after {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }

            .italikTitle {
                @include mainFont ($size: $fontTitleSize-3, $lineHt: 2em, $color: $whiteColor, $fWeight: 500);
                font-style: italic;
            }

            @include _480 {
                .italikTitle {
                    font-size: 23px;
                }
            }
        }

        &__review {
            text-align: center;

            .owl-carousel {

                .owl-dots {
                    button {
                        outline: none !important;
                    }

                    .owl-dot {
                        &:hover span {
                            background: rgba($whiteColor, .6);
                        }

                        span {
                            background: rgba($whiteColor, .4);
                        }

                        &.active span {
                            background: $whiteColor;
                        }
                    }
                }
            }

            .slyder {
                padding: 40px 0;
            }

            .owl-nav {
                display: none;
            }

            .text {
                @include mainFont ($size: 25px, $lineHt: 1.5em, $color: $whiteColor);
                font-style: italic;
                position: relative;
                margin-bottom: 34px;
                padding: 0 80px;

                &::before,
                &::after {
                    font-family: 'OneStrokeScript', Arial, Helvetica, sans-serif;
                    font-size: 192px;
                    display: inline-block;
                    font-weight: 500;
                    font-style: normal;
                    position: absolute;
                }

                &::before {
                    content: "“";
                    left: 0;
                    bottom: 0;
                }

                &::after {
                    content: "”";
                    right: 0;
                    top: 86px;
                }

                @include _1200 {
                    &::before,
                    &::after {
                        font-size: 120px;
                        margin-right: 20px;
                    }

                    &::before {
                        top: 20px;
                        left: 0;
                    }

                    &::after {
                        right: 0;
                        bottom: 0;
                    }
                }

                @include _1200 {
                    font-size: 20px;
                    padding: 0;

                    &::before,
                    &::after {
                        display: none;
                    }
                }

                @include _480 {
                    .italikTitle {
                        font-size: 20px;
                    }
                }
            }

            .person {
                img {
                    border-radius: 50%;
                    margin-bottom: 15px;
                    max-width: 100px;
                    display: inline-block;
                }

                h4 {
                    @include mainFont ($size: $fontTitleSize-3, $lineHt: 1.5em, $color: $accentColor, $fWeight: 600);
                }

                p {
                    @include mainFont ($size: 22px, $lineHt: 1em, $color: $whiteColor, $fWeight: 300);
                }
            }
        }
    }
}
